{{ $content_type := .Params.content_type }}

{{ $aboutPage := .Site.GetPage $content_type }}

{{ if or $aboutPage.Params.academia $aboutPage.Params.interests}}


{{if $aboutPage.Params.work}}
<div class="academia col">
    <h4 class="main_color">Professional</h4>
    {{range $work := $aboutPage.Params.work}}
    <div class="row">
        <div class="course col">
            <div class="institution_dates row">
                <div class="institution col" id="institution_title">
                    {{ if $work.company.link }} 
                    <a class="text-decoration-none black" href="{{$work.company.link}}" target="_blank">
                    <b>{{$work.company.name}}</b>
                    </a>
                    {{else}}
                    <b>{{$work.company.name}}</b>
                    {{end}}
                </div>
                <div class="main_color dates col-md-auto  justify-content-end">
                    {{$work.company.start_date}}
                    {{ if $work.company.end_date }}
                    - {{$work.company.end_date}}
                    {{else}}
                    - present
                    {{end}}
                </div>
            </div>
            <div class="degree_major row">
                <div class="text-muted col">
                    {{$work.company.title}}{{if $work.company.location }}, {{$work.company.location}} {{end}}
                </div>
            </div>

            {{if $work.company.details}}
            <div class="other_info row ">
                <div class="col">
                    {{$work.company.details}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{end}}
</div>
{{end}}
{{end}}


{{if $aboutPage.Params.academia}}
<div class="academia col">
    <h4 class="main_color">Academia</h4>
    {{range $academia := $aboutPage.Params.academia}}
    <div class="row">
        <div class="course col">
            <div class="institution_dates row">
                <div class="institution col" id="institution_title">

                   {{ if $academia.course.link }} 
                    <a class="text-decoration-none black" href="{{$academia.course.link}}" target="_blank">
                    <b>{{$academia.course.institution}}</b>
                    </a>
                    {{else}}
                    <b>{{$academia.course.institution}}</b>
                    {{end}}
                </div>
                <div class="main_color dates col-md-auto  justify-content-end">
                    {{$academia.course.start_date}}
                    {{ if $academia.course.end_date }}
                    - {{$academia.course.end_date}}
                    {{else}}
                    - present
                    {{end}}
                </div>
            </div>
            <div class="degree_major row">
                <div class="text-muted col">
                    {{$academia.course.degree}}, {{$academia.course.major}}

                    {{if $academia.course.minor }}
                    , Minor: {{$academia.course.minor}}
                    {{end}}
                </div>
            </div>

            {{if $academia.course.other_info}}
            <div class="other_info row text-muted">
                <div class="col">
                    {{$academia.course.other_info}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{end}}

    <br><br>
{{ if $aboutPage.Params.interests }}
    <h4 class="main_color">Interests</h4>
    <ul>
        {{range $aboutPage.Params.interests }}
        <li>
            {{.}}
        </li>
        {{end}}
    </ul>
{{end}}

    <br><br>
</div>

{{end}}